/bin

/.svn/pristine/27/
/.svn/pristine/5e/
/.svn/pristine/bd/
/.svn/wc.db
/bin/andoridsupport.jar
/bin/classes/com/sanvi/support/http/BaseTask.class
/bin/classes/com/sanvi/support/utils/ImageLoader$BitmapDisplayer.class
/bin/classes/com/sanvi/support/utils/ImageLoader$PhotosLoader.class
/bin/classes/com/sanvi/support/utils/ImageLoader$PhotosQueue.class
/bin/classes/com/sanvi/support/utils/ImageLoader$PhotoToLoad.class
/bin/classes/com/sanvi/support/utils/ImageLoader.class
/project.properties
/bin/classes/com/sanvi/support/http/AbstractHttpApi.class
/bin/classes/com/sanvi/support/R$anim.class
/bin/classes/com/sanvi/support/R$attr.class
/bin/classes/com/sanvi/support/R$color.class
/bin/classes/com/sanvi/support/R$drawable.class
/bin/classes/com/sanvi/support/R$id.class
/bin/classes/com/sanvi/support/R$layout.class
/bin/classes/com/sanvi/support/R$string.class
/bin/classes/com/sanvi/support/R$style.class
/gen/com/sanvi/support/R.java
/src/.DS_Store
/src/com/.DS_Store
/src/com/sanvi/.DS_Store